Checks: '*,
-*-magic-numbers,
-*-struct-pack-align,
-*-macro-to-enum,
-*-restrict-system-libc-headers,
-*-avoid-non-const-global-variables,
-*-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
-*-deprecated-declarations,
-*-init-variables,
-*-include-cleaner,
-*-identifier-length,
-*-isolate-declaration,
-*-unroll-loops,
-*-dcl37-c,
-*-dcl51-cpp,
-*-use-trailing-return-type,
-*-readability-todo,
-*-avoid-do-while,
-*-qualified-auto,
-*-uppercase-literal-suffix,
-*-pro-type-reinterpret-cast,
-*-use-nodiscard,
-*-pro-bounds-constant-array-index,
-*-owning-memory,
-*-macro-usage,
-*-const-correctness,
-*-avoid-c-arrays,
-*-pro-type-vararg,
-*-vararg,
-*-prefer-member-initializer,
-*-signed-bitwise,
-*-implicit-bool-conversion,
-*-pro-bounds-pointer-arithmetic,
-*-pro-bounds-array-to-pointer-decay,
-*-no-array-decay,
-*-use-default-member-init,
-*-non-private-member-variables-in-classes,
-altera-*,
-llvm-*,
-llvmlibc-*,
-linuxkernel-*,
-fuchsia-*,
-google-*,
'